<div class="container mx-auto px-4 py-8 bg-gray-50 min-h-screen">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold text-gray-800">
      Ejemplo de Autenticación Web con Angular
    </h1>
    <a class="btn btn-primary" href="https://github.com/marcellkiss/angular-webauthn-example" target="_blank">
      <img class="h-8 w-8" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" />
      GitHub
    </a>
  </div>
  <p class="mt-4 text-gray-600">El soporte de navegadores para esta tecnología es del 70%. Consulta <a
      href="https://caniuse.com/#search=web%20authentication" target="_blank" class="text-blue-500">caniuse.com</a> para
    más detalles.</p>
  <p class="mt-2 text-gray-600">La WEB nunca ha estado tan cerca de eliminar las contraseñas de una manera completamente
    segura.</p>
  <mat-card class="mt-4 bg-red-100" *ngIf="!webAuthnAvailable">
    ¡Vaya! Lo sentimos, la API de Autenticación Web no está disponible en tu navegador. Pruébalo en Chrome.
  </mat-card>
  <div class="flex flex-wrap justify-between mt-4 gap-4">
    <mat-card class="flex-1 bg-white shadow-lg border border-gray-200">
      <legend class="font-bold text-lg">Registrarse</legend>
      <div class="flex flex-col items-center mt-2">
        <mat-form-field class="w-full">
          <input matInput placeholder="Correo electrónico" [(ngModel)]="email"
            class="input input-bordered w-full max-w-xs">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input type="password" matInput placeholder="Contraseña" [(ngModel)]="password"
            class="input input-bordered w-full max-w-xs">
        </mat-form-field>
        <div class="form-control mt-4" *ngIf="webAuthnAvailable">
          <label class="label cursor-pointer">
            <span class="label-text">Usa tu huella digital para futuras autenticaciones</span>
            <input type="checkbox" [(ngModel)]="useFingerprint" class="checkbox checkbox-primary">
          </label>
        </div>
        <button mat-raised-button color="primary" (click)="signup()" class="btn btn-primary mt-4">REGISTRARSE</button>
      </div>
    </mat-card>
    <mat-card class="flex-1 bg-white shadow-lg border border-gray-200">
      <legend class="font-bold text-lg">Iniciar Sesión</legend>
      <div class="flex flex-col items-center mt-2">
        <mat-form-field class="w-full">
          <input matInput placeholder="Correo electrónico" [(ngModel)]="email"
            class="input input-bordered w-full max-w-xs">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input type="password" matInput placeholder="Contraseña" [(ngModel)]="password"
            class="input input-bordered w-full max-w-xs">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="signin()" class="btn btn-primary mt-4">INICIAR
          SESIÓN</button>
        <div class="mt-4" *ngIf="webAuthnAvailable">
          <div class="text-center mt-2">O</div>
          <button mat-raised-button color="primary" (click)="webAuthSignin()"
            class="btn btn-primary mt-2"><mat-icon>fingerprint</mat-icon></button>
        </div>
      </div>
    </mat-card>
  </div>

  <h1 class="mt-8 font-bold text-gray-800">Administración</h1>
  <mat-card class="flex justify-between items-center mt-2 bg-white shadow-lg border border-gray-200"
    *ngFor="let user of users">
    <div class="email">{{ user.email }}</div>
    <button mat-button *ngIf="user.credentials.length" (click)="webAuthSignin()" color="primary"
      class="btn flex items-center gap-2">
      <mat-icon>fingerprint</mat-icon>
    </button>
    <button mat-button (click)="removeUser(user.email)" color="warn" class="btn flex items-center gap-2">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card>

  <div class="info mt-8">
    <hr />
    <h3 class="font-bold mt-4 text-gray-800">Fuentes</h3>
    <div class="mt-2">
      <a href="https://webauthn.io/" class="text-blue-500">Webauthn.io</a>
    </div>
    <div class="mt-2">
      <a href="https://medium.com/@herrjemand/introduction-to-webauthn-api-5fd1fb46c285" class="text-blue-500">Artículo en
        Medium por Ackermann Yuriy</a>
    </div>
  </div>
</div>

